<div id="<%= dom_id story %>">
  <p>
    <strong>Name:</strong>
    <%= story.name %>
    <br>
    <strong>Written by:</strong>
    <%= story.author %>

    <br>

    <strong>About:</strong>

  </p>

</div>
